﻿@model TelefonRehberi.Areas.Admin.Models.DB.Calisan

@{
    ViewBag.Title = "Details2";
}

<h2>Details</h2>

<div>
    <h4>Calisan</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Ad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Soyad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Soyad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Departman)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Departman)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Yonetici)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Yonetici)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index2")
</p>
