﻿@model IEnumerable<TelefonRehberi.Areas.Admin.Models.DB.Calisan>

@{
    ViewBag.Title = "Index";
    <h2>@TempData["Message1"]</h2>
}

<h2>Index</h2>
Welcome @HttpContext.Current.User.Identity.Name;
<p>
    @Html.ActionLink("Create New", "Create")
    @Html.ActionLink("Logout", "LogOff")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Ad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefon)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Ad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telefon)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}
</table>

