﻿@model IEnumerable<TelefonRehberi.Areas.Admin.Models.DB.Calisan>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Login", "Login", "Calisans")
    @Html.ActionLink("Logout", "LogOff", "Calisans")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Ad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefon)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Ad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefon)
            </td>
            <td>
                @Html.ActionLink("Details", "Details2", new { id = item.Id }) 
            </td>
        </tr>
    }

</table>

