﻿@model TelefonRehberi.Areas.Admin.Models.ViewModel.LoginModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>

    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>

    <div class="login" style="width:350px !important;margin:0 auto; margin-top:200px;">

        <div class="box-header">

            <h2> Login</h2>
            
        </div>
       
        <div class="box">

    <div class="notification tip"><span class="strong"> Admin Panel Giriş</span>@Html.ValidationSummary(false, "")</div>

    @using (Html.BeginForm("Login", "Calisans", FormMethod.Post))
            {
        <div class="form col">
            <div class="form-group">
                @Html.LabelFor(f => f.Name)
                <div class="col-md-10">
                    @Html.TextBoxFor(f => f.Name, new { title = "Kullanıcı adınızı giriniz.", @Value = @ViewBag.name })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(f => f.Password)
                <div class="col-md-10">
                    @Html.PasswordFor(f => f.Password, new { title = "Kullanıcı şifrenizi giriniz.", @Value = @ViewBag.password })
                </div>
            </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Submit" class="btn btn-default" />
                    </div>
                </div>
            </div>
    }
            <p>
                @Html.ActionLink("Change Password", "ForgotPassword","Calisans")
            </p>
        </div>
    </div>
</body>
</html>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
